<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.redream.www.ink_media">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="cn.redream.www.ink_media.RedreamApp"
        android:allowBackup="true"
        android:icon="@mipmap/ink"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="cn.redream.www.ink_media.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.redream.www.ink_media.MusicTabActivity"
            android:label="@string/title_activity_music"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="cn.redream.www.ink_media.MusicResultActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="cn.redream.www.ink_media.CctvActivity"
            android:label="@string/title_activity_cctv"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cn.redream.www.ink_media.TreeholeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cn.redream.www.ink_media.TestpaperActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cn.redream.www.ink_media.CartoonActivity"
            android:label="@string/title_activity_cartoon"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="cn.redream.www.ink_media.CartoonDescActivity"></activity>
        <activity
            android:name="cn.redream.www.ink_media.TvplaerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cn.redream.www.ink_media.MovieActivity"
            android:label="@string/title_activity_movie"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="cn.redream.www.ink_media.MovieDescActivity"
            android:label="@string/title_activity_movie" />
        <activity android:name="cn.redream.www.ink_media.LocalMovieActivity" />
        <activity android:name="cn.redream.www.ink_media.AboutActivity" />
        <activity
            android:name="cn.redream.www.ink_media.GuideActivity"
            android:label="@string/title_activity_guide"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name="cn.redream.www.ink_media.Main2Activity"></activity>
    </application>

</manifest>
